<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>recipes</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script src="{% static 'js/app.js' %}"></script>


</head>
<body ng-app="myApp" ng-controller="main" class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="#">Demo</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
            class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" ng-model="searchModel" placeholder="Search for..."
                   aria-label="Search for..."
                   aria-describedby="btnNavbarSearch"/>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#!">პროფილი</a></li>
                <li>
                    <hr class="dropdown-divider"/>
                </li>
                <li><a class="dropdown-item" href="{% url 'login' %}">გასვლა</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">ძირითადი</div>
                    <a class="nav-link active" href="#">
                        <div class="sb-nav-link-icon"><i class="fas fa-bread-slice"></i></div>
                        რეცეპტები
                    </a>
                    <a class="nav-link" href="{% url 'ingredients' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-bacon"></i></div>
                        ინგრედიენტები
                    </a>
                    <a class="nav-link " href="{% url 'tags' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-hamburger"></i></div>
                        თაგები
                    </a>


                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">შემოსულია:</div>
                <p ng-bind="user"></p>
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-2">
                <h4 class="mt-1">რეცეპტები</h4>
                <div class="card mb-2">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>რეცეპტების ცხრილი

                        <button type="button" class="btn btn-sm btn-success" data-bs-toggle="modal"
                                data-bs-target="#recipeModal" style="float: right; margin-right: 5px;">
                            <i class="fas fa-plus me-1"></i>დამატება
                        </button>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">სახელი</th>
                                <th scope="col"> ინგრედიენტები</th>
                                <th scope="col"> თაგები</th>
                                <th scope="col"> დრო</th>
                                <th scope="col"> ფასი</th>
                                <th scope="col"> ლინკი</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="ing in recipes ">
                                <th scope="row" ng-bind="ing.id"></th>
                                <td ng-bind="ing.title">
                                </td>
                                <td>
                                    <ul>
                                        <li ng-repeat="i in ing.ingredients">
                                            <p ng-bind="i.name"></p>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li ng-repeat="i in ing.tags">
                                            <p ng-bind="i.name"></p>
                                        </li>
                                    </ul>
                                </td>

                                <td ng-bind="ing.time_minutes"></td>
                                <td ng-bind="ing.price"></td>
                                <td><a ng-bind="ing.link" ng-click="redirectSite(ing.link)"></a></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2021</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<!--modal-->
<div class="modal fade" id="recipeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">რეცეპტების დამატება</h5>
                <button type="button" class=" btn" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="title" class="col-form-label">დასახელება:</label>
                        <input type="text" class="form-control" ng-model="title" id="title">
                    </div>
                    <div class="form-group">
                        <label for="ing" class="col-form-label">ინგრედიენტი:</label>
                        <input class="form-control" ng-click="isIngOpen=!isIngOpen" ng-model="ingredientsSelected">
                        <select ng-show="isIngOpen" ng-change="changeIngr()"
                                ng-options="item as item.name for item in ingredients" multiple
                                class="form-control" id="ing"
                                aria-label="ingRec" ng-model="ingRec"
                                aria-describedby="basic-addon2"></select>
                    </div>
                    <div class="form-group">
                        <label for="tag" class="col-form-label">თაგები:</label>
                        <input class="form-control" ng-click="isTagOpen=!isTagOpen" ng-model="tagsSelected">
                        <select ng-show="isTagOpen" ng-change="changeTag()"
                                ng-options="item as item.name for item in tags" multiple
                                class="form-control" id="tag"
                                aria-label="ingRec" ng-model="tagRecipe"
                                aria-describedby="basic-addon2"></select>
                    </div>
                    <div class="form-group">
                        <label for="time" class="col-form-label">დრო:</label>
                        <input type="number" class="form-control" id="time"
                               aria-label="time" ng-model="time"
                               aria-describedby="basic-addon2">
                    </div>
                    <div class="form-group">
                        <label for="price" class="col-form-label">ფასი:</label>
                        <input type="number" class="form-control" id="price"
                               aria-label="price" ng-model="price"
                               aria-describedby="basic-addon2">
                    </div>

                    <!--                    <div ng-dropdown-multiselect="" options="cars" selected-model="selectedCar">-->
                    <!--                    </div>-->
                    <!--                    <div class="well well-small" ng-bind="selectedCar">-->
                    <!--                    </div>-->

                    <div class="form-group">
                        <label for="link" class="col-form-label">ლინკი:</label>
                        <input type="text" class="form-control"
                               aria-label="link" ng-model="link" id="link"
                               aria-describedby="basic-addon2">

                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">დახურვა</button>
                <button type="button" class="btn btn-primary" ng-click="addRecipe()">შენახვა</button>
            </div>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="//rawgit.com/dotansimha/angularjs-dropdown-multiselect/master/dist/src/angularjs-dropdown-multiselect.js"></script>

<script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>